{% extends "base.html" %}
{% set active_page = "provas" %}
{% block title %}Provas{% endblock %}

{% block content %}

<div class="container">
    {% if current_user.urole == 'professor' %}
    <div class="d-flex justify-content-end mb-2">
        <a href="{{url_for('prova.cadastrar_prova')}}" type="button" class="btn btn-primary" role="button">Nova Prova</a>
    </div>    
    {% endif %}

    {% for prova in provas %} 
    {% if current_user.urole == 'professor' %}
    <a href="{{url_for('prova.ver_prova_correta', _id = prova.prova_id)}}" type="button" class="btn btn-outline-secondary col-md-12 mb-2" role="button">
    {% else %}
    <a href="{{url_for('prova.responder_prova', _id = prova.prova_id)}}" type="button" class="btn btn-outline-secondary col-md-12 mb-2" role="button">
    {% endif %}
        <div class="d-flex justify-content-start">
            {{ prova.descricao }} 
        </div>
        <div class="d-flex justify-content-end">
            {{ prova.data }}
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}